<div class="h-[10rem] w-[13rem] bg-gray-200 rounded cursor-pointer transition-all hover:scale-110">
    <div class="h-[80%] bg-purple-400 rounded">
    </div>
    <div class="px-1 h-[20%] flex justify-between items-center">
        <p class="text-[0.7rem]"><%=course.title%></p>
        <p class="text-[0.8rem]"><%=number_to_currency(course.price)%></p>
    </div>
    
</div>