<div class="h-12 bg-white border-b flex justify-between items-center">
    <div class="ml-5">
        <%= link_to root_path do %>
            <%= image_tag "logo.svg" %>
        <%end%>
    </div>
    <div class="mr-5 text-white transition-all hover:scale-110">
        <% if !user_signed_in? %>
            <p class="py-1 px-3 text-center rounded bg-blue-500"><%= link_to "Login", new_user_session_path%></p>
        <%else%>
            <p class="py-1 px-3 text-center rounded bg-blue-500"><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white" %></p>
        <%end%>
    </div>
</div>