<div class="flex ">
    <div class="w-[15%] h-[100%] bg-yellow-200">
        sidebar
    </div>
    <div class="w-[85%] pl-3">
        <div class="w-full py-1 flex gap-3 overflow-hidden wrap">
            <%Category.all.each do |category|%>
                <p class="bg-gray-400 px-4 py-auto rounded-full inline-block text-white cursor-pointer"><%= category.name%></p>
            <%end%>
        </div>
        <div class="w-full py-2  flex gap-5 flex-wrap">
            <%Course.all.each do |course|%>
                <%= render partial: "components/course",locals:{course: course}%>
            <%end%>
        </div>
    </div>
</div>
